<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fyp.Beauticianatyourdoorstep">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".view.customerPanel.BookingDetailsActivity" />
        <activity android:name=".view.customerPanel.BookingHistoryActivity" />
        <activity android:name=".view.customerPanel.BookingActivity" />
        <activity android:name=".view.customerPanel.BeauticianDetailsActivity" />
        <activity android:name=".view.MapActivity" />
        <activity android:name=".view.customerPanel.BeauticianSearchActivity" />
        <activity
            android:name=".view.customerPanel.CustomerProfileManagerActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.AppSettingsActivity" />
        <activity android:name=".view.beauticianPanel.BeauticianOrderHistoryActivity" />
        <activity android:name=".view.beauticianPanel.OrdersDetailsActivity" />
        <activity android:name=".view.beauticianPanel.BeauticianOrderRequestsActivity" />
        <activity
            android:name=".view.beauticianPanel.BeauticianProfileManagerActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.beauticianPanel.SpecializationActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.customerPanel.UpdatesActivity" />
        <activity android:name=".view.AppAboutActivity" />
        <activity android:name=".view.customerPanel.ServicesActivity" />
        <activity android:name=".view.customerPanel.CustomerDashboardActivity" />
        <activity
            android:name=".view.ForgetPasswordActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.RegistrationActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.beauticianPanel.BeauticianDashboardActivity" />
        <activity android:name=".view.AppSplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SignInActivity"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>